#bg{
	position:relative;
	background-image:url(img/bg1.jpg);
	background-size:1000px 400px;
	align:center;
	height:400px;
	font-size:20px;
	font-family:"Î¢ÈíÑÅºÚ";
	color:#fff;
	margin: 0; 
}
#bg1{
	position:relative;
	margin: 0 auto;
	top:3%;
	width:80%;
	height:65%;
	background-size:contain;
	background:rgba(128,128,192,.6);
	border-radius: 10px;
	font-size:13px;
	font-family:"Î¢ÈíÑÅºÚ";
	text-align:center;
}
#bg1 h1{
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:20px;
	color: #fff;
}
#bg2{
	position:relative;
	margin: 0 auto;
	top:1%;
	width:80%;
	height:28%;
	background-size:contain;
	background:rgba(255,255,255,.6);
	border-radius: 10px;
	font-size:18px;
	font-family:"Î¢ÈíÑÅºÚ";
	color:#7373B9;
}
input:not([type="submit"]){
	position: relative;
	margin-left:3%;
	width: 90%; 
	height:30px; 
	padding: 10px;  
	font-size: 12px;  
	color: #000;  
	border-top: 2px solid #7373B9;  
	border-left: 2px solid #7373B9;  
	border-right: 2px solid #7373B9;  
	border-bottom: 2px solid #7373B9;  
	background-color: rgba(0,0,0,0);  
}
p{
	height:20px;
	margin-top:20px;
}